.home-box,
.home-box-name {
    font-family: 'Courier New', Courier, monospace;
}

.home-box-name {
    font-size: 5rem;
}

.home-item {
    background-color: blue;
}

.home-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

/* .home-decor{
    height: 100px;
    width: 100px;
    background-color: red;
} */
