.home-box,
.home-box-name {
    font-family: 'Courier New', Courier, monospace;
}

.home-box-name {
    font-size: 5rem;
}

/* .home-item {
    background-color: blue;
} */

/* .home-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
} */

.name{
    height: 100vh;
    background: linear-gradient(white, #ff70a6);
    /* width: 100px; */
    background-color: #ff70a6;
}

.home-arrow:hover{
    color:#ff70a6;
    transform: translate(1px, 1px);
}