.icon {
    font-size: 2rem;
}

.icon-image {
    height: 2rem;
}

.skills-heading {
    margin-top: 100px;
}

.skill-container {
    max-width: 700px;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/* .grid-item {
    height: 120px;
    flex-basis: 20%;
    width: auto;
    position: relative;
} */

/* .skill-row {
    height: 50px;
    border: 1px solid black;
} */

.jasmine {
    height: 60px;
}

@media(max-width: 1073px) {
    .grid-item {
        flex-basis: 33.33%;
    }
}

@media(max-width: 815px) {
    .grid-item {
        flex-basis: 50%;
    }
}

@media(max-width: 555px) {
    .grid-item {
        flex-basis: 100%;
    }
}