.contact-link {
  text-decoration: none;
  color: black;
}

.contact-link:hover,
.hover-msg {
  text-decoration: underline;
  color: #ff70a6;
}

.hover-msg{
  font-size: 1.5em;
}

.resume-link .hover-msg {
  visibility: hidden;
}

.resume-link:hover .hover-msg {
  visibility: visible;
}

.github-link .hover-msg {
  visibility: hidden;
}

.github-link:hover .hover-msg {
  visibility: visible;
}

.linkedin-link .hover-msg {
  visibility: hidden;
}

.linkedin-link:hover .hover-msg {
  visibility: visible;
}

.contact-title{
  position: relative;
  margin-bottom: 40px;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
  text-align: center;
  margin: 5px;
  padding: 10px;
  text-align: center;
  z-index: 2;
  background-color: #ff70a6;
  border-radius: 30px;
  box-shadow: 5px 10px black;
  color: white;
}

.bi-file-earmark-person,
.bi-github,
.bi-linkedin {
  font-size: 5em;
}
