.bio {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
    position: relative;
    padding: 10px;
    margin: 2rem;
}

.big-text{
  font-family: 'Courier New', Courier, monospace;
}


.prof-pic {
  width: 30em;
  position: relative;
  padding: 10px;
}

@media(max-width: 1073px) {
  .prof-pic {
    width: 25em;
  }
  .big-text{
    font-size: 1.5rem;
  }
}

@media(max-width: 815px) {
  .prof-pic {
    width: 25em;
  }
  .big-text{
    font-size: 1.5rem;
  }
}

@media(max-width: 555px) {
  .prof-pic {
    width: 25em;
  }
  .big-text{
    font-size: 1.5rem;
  }
}