/**************************** Carousel *********************************/
.Carousel-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel-main>i {
  cursor: pointer;
  margin: 10px;
  color: #aaa;
}

.Carousel-main>i.hidden {
  opacity: 0;
  pointer-events: none;
}

.Carousel-main>i:hover {
  color: black;
}

/**************************** Title *********************************/

.title {
  position: relative;
  margin-bottom: 40px;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
  /* width: 20%; */
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  z-index: 2;
  background-color: #ff70a6;
  border-radius: 30px;
  box-shadow: 5px 10px black;
  color: white;
}

/**************************** Arrows *********************************/

.bi {
  font-size: 2rem;
}

.right-arrow {
  text-align: left;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.left-arrow {
  text-align: right;
  top: 0;
  transition: top ease 0.5s;
}
