  /*********************** Card ******************************/

  .Card {
    border: 3px solid white;
    height: 500px;
    /* width: auto; */
    background-color: #f8f7ff;
  }

  /* @media(max-width: 1073px) {
    .Card {
      height: 500px;
    }
  } */

  @media(max-width: 1200px) {
    .Card {
      height: 900px;
    }
  }

  @media(max-width: 555px) {
    .Card {
      height: 800px;
    }
  }

  .card-container{
    position: relative;
    margin-top: -40px;
    z-index: 1;
  }

  .Card-title {
    margin: 0 0 0.5em 0;
    font-size: 3rem;
  }

  .Card-small {
    margin-top: 0.5em;
    font-style: italic;
  }

  .Card-image {
    border-radius: 8px;
  }

  /*********************** Card Content ******************************/

  .built-list {
    text-align: start;
    list-style: none;
  }

  .bi-gear-fill,
  .bi-gear {
    font-size: 1.5rem;
    padding: 10px;
  }

  .bi-circle,
  .bi-circle-fill {
    font-size: .75rem;
    padding: 5px;
  }


  .demo-image {
    height: 300px;
    border: 2px dotted #ff70a6;
    border-radius: 20px;
  }

  /* @media(max-width: 1073px) {
    .demo-image {
      height: 200px;
    }
  } */

  @media(max-width: 992px) {
    .demo-image {
      height: 200px;
    }
  }

  @media(max-width: 555px) {
    .demo-image {
      width: 300px;
    }
  }