  /*********************** Card ******************************/

  .Card {
    border: 3px solid white;
    background-color: #f8f7ff;
  }

  .pad-adjust {
    padding-top: 50px;
  }

  .card-container{
    position: relative;
    margin-top: -40px;
    z-index: 1;
  }

  .Card-title {
    margin: 0 0 0.5em 0;
    font-size: 3rem;
  }

  .Card-small {
    margin-top: 0.5em;
    font-style: italic;
  }

  .Card-image {
    border-radius: 8px;
  }

  /*********************** Card Content ******************************/

  .built-list {
    text-align: start;
    list-style: none;
  }

  .bi-gear-fill,
  .bi-gear {
    padding: 10px;
  }

  .bi-circle,
  .bi-circle-fill {
    font-size: .75rem;
    padding: 5px;
  }

  .demo-video,
  .demo-image {
    border: 2px dotted #ff70a6;
    border-radius: 20px;
  }

  @media(max-width: 1023px) {
    .Card {
      font-size: .8em;
    }
    .Card-title{
      font-size: 1.5em;
    }
    .demo-image {
      width: 100%;
    }
    .bi-gear-fill,
    .bi-gear {
      font-size: .7rem;
      padding: 10px;
    }
    .pad-adjust{
      padding: 0;
    }
  }